In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
df = pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [2]:
df.drop(['Date','YearBuilt','Lattitude','Longtitude','Address','Postcode'],inplace=True,axis=1)
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [3]:
df.shape

(34857, 15)

In [4]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [5]:
df.dropna(subset = ['CouncilArea','Regionname','Propertycount'],axis=0,inplace=True)
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [6]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2          8214
Bathroom          8223
Car               8725
Landsize         11807
BuildingArea     21112
CouncilArea          0
Regionname           0
Propertycount        0
dtype: int64

In [7]:
cols_to_fill = ['Bathroom','Landsize','Price']
df['Car'].fillna(0,inplace=True)
df['Bathroom'].fillna(0,inplace=True)
df['Landsize'].fillna(0,inplace=True)
df['Price'].fillna(df['Price'].mean(),inplace=True)
df['Bedroom2'].fillna(0,inplace=True)
df['BuildingArea'].fillna(0,inplace=True)

In [8]:
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [9]:
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,1.050210e+06,SS,Jellis,2.5,2.0,1.0,1.0,126.0,0.0,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1.480000e+06,S,Biggin,2.5,2.0,1.0,1.0,202.0,0.0,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1.035000e+06,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,1.050210e+06,VB,Rounds,2.5,3.0,2.0,1.0,0.0,0.0,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1.465000e+06,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [10]:
df.drop(['Suburb','Type',"Method",'SellerG','CouncilArea','Regionname'],axis=1,inplace=True)

In [11]:
# df1 = pd.get_dummies(df,drop_first=True)
# df1 = df1.replace({True:1,False:0})
# df = pd.concat([df,df1],axis=1)

# df.drop(['Suburb','Method','SellerG','CouncilArea','Regionname'],axis=1,inplace=True)
# df.drop('Type',axis=1,inplace=True)

In [12]:
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount
0,2,1.050210e+06,2.5,2.0,1.0,1.0,126.0,0.0,4019.0
1,2,1.480000e+06,2.5,2.0,1.0,1.0,202.0,0.0,4019.0
2,2,1.035000e+06,2.5,2.0,1.0,0.0,156.0,79.0,4019.0
3,3,1.050210e+06,2.5,3.0,2.0,1.0,0.0,0.0,4019.0
4,3,1.465000e+06,2.5,3.0,2.0,0.0,134.0,150.0,4019.0

In [13]:
X = df.drop('Price',axis=1)
y = df['Price']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

print(f'train model score : {model.score(X_train,y_train)}')
print(f'test model score : {model.score(X_test,y_test)}')

train model score : 0.27732187838916367
test model score : 0.27194000340508695